
$elemicaWhite: #fafafa;
$inputFontColor: #A0A0A0;
$loginLogoColor: #FFFFFF;
$loginButton: #3E3E3E;




//grays
//primary grays
$primary-gray-1: #4C4C4C;
$primary-gray-2: #818181;
$primary-gray-3: #A0A0A0;
$primary-gray-4: #CBCCCC;
$primary-gray-5: #E5E6E6;
$primary-gray-6: #FAFAFA;

//secondary grays
$secondary-gray-1:#393939;
$secondary-gray-2:#3E3E3E;
$secondary-gray-3:#5D5D5D;
$secondary-gray-4:#909090;
$secondary-gray-5:#BBBBBB;
$secondary-gray-6:#D8D8D8;
$secondary-gray-7:#DCDDDD;
$secondary-gray-8:#EFEFEF;
$secondary-gray-9:#F6F6F6;



//blues


//primary blues
$primary-blue-1: #186082;
$primary-blue-2: #007BB4;
$primary-blue-3: #2CA7E5;
$primary-blue-4: #9FCEEF;
$primary-blue-5: #C7E2F6;
$primary-blue-6: #E0EFFA;

//secondary blues
$secondary-blue-1:#006A9B;
$secondary-blue-2:#108BC6;
$secondary-blue-3:#1397D5;
$secondary-blue-4:#39B6F5;
$secondary-blue-5:#69C1ED;
$secondary-blue-6:#B2DAF6;
$secondary-blue-7:#D1E7F8;
$secondary-blue-8:#EBF5FB;
$secondary-blue-9:#F4F8FB;



//supplemental colors
//warning
$warning: #CCA528;
$warning-backgnd: #FFF7DF;
//error
$error: #D11F2F;
$error-hover: #F7D9DC;
$error-backgnd: #FEEEEF;
//success
$success: #149B66;
$success-hover: #D0E9DA;
$success-backgnd: #EFFAF3;