.above-table{
  background-color: #00b3ee;
}
.sum-table{
  background-color: white;
}

#search{
  border-radius: 25px;
}

.map-title{
  padding-top:0;
  margin-top: 0;
  margin-bottom: 50px;
}

.map-view{
  width:600px;
  height: 500px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  position: relative;
}



.angular-google-map-container {
  height:600px;
  /*width: 424px;*/
  /*width:500px;*/
 /* position:absolute;
  top:70px;
  left:10px;
  bottom: 75px;
  right:75px;*/
}
