<div ng-include="'components/navbar/navbar.html'"></div>


<!--main page-->
<div class="container" ng-controller="SummCtrl as ctrl"  ng-cloak>

  <div class="row">
    <!--title-->
    <div class="col-md-6 col-md-offset-1">
      <h2>Apollo Summarist</h2>
    </div>

    <div class="form-group col-md-3 col-md-offset-1">
      <label for="search"></label>
      <input type="text" class="form-control" id="search" placeholder="search" ng-model="filter.$">
    </div>

  </div>

  <!--table-->
<div class=" col-md-10 col-md-offset-1">

  <table ng-table="messagesTable" class="table table-bordered" >
    <tr ng-repeat="row in $data track by row.id">
      <td data-title="'Sender Duns'" sortable="'senderDuns'">{{row.senderDuns}}</td>
      <td data-title="'Sender Name'" sortable="'senderName'">{{row.senderName}}</td>
      <td data-title="'Receiver Duns'" sortable="'receiverDuns'">{{row.receiverDuns}}</td>
      <td data-title="'Receiver Name'" sortable="'receiverName'">{{row.receiverName}}</td>
      <td data-title="'Message Type'"  sortable="'messageType'">{{row.messageType}}</td>
      <td data-title="'Source(UUID)'"sortable="'source'">{{row.source}}</td>
     <!-- <td data-title="'sourceType'"sortable="'sourceType'">{{row.sourceType}}</td>-->
      <td data-title="'Metadata'"sortable="'metaData'">{{row.metaData}}</td>
    </tr>
  </table>



</div>

  </div>
